* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
  text-align: center;
}
header,
footer {
  box-shadow: 0 0 10px 0 #00000080;
  position: fixed;
  height: 14vh;
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: white;
  z-index: 2;
}
header {
  top: 0;
  padding-bottom: 2vh;
}
h1 {
  font-size: 10vh;
}
footer {
  bottom: 0;
  font-size: 3vh;
}
img {
  width: 100px;
  margin: 0 auto;
}
#main {
  height: 72vh;
  padding: 1vh;
  position: relative;
  top: 14vh;
  overflow-y: scroll;
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center; */
}
h3 {
  text-decoration: underline;
}
ul {
  margin-bottom: 10px;
  list-style-type: none;
}
