* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
  text-align: center;
  font-size: 3vh;
}
header,
footer {
  box-shadow: 0 0 10px 0 #00000080;
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: white;
  z-index: 2;
}
header {
  top: 0;
  padding-bottom: 2vh;
}
h1 {
  font-size: 8vh;
  margin-bottom: 3vh;
}
#mainMenu {
  display: flex;
  list-style-type: none;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 20px;
}
#mainMenu a {
  text-decoration: none;
  color: black;
}
#mainMenu a:hover,
#mainMenu a.active {
  text-decoration: underline;
  color: green;
}
footer {
  bottom: 0;
  font-size: 3vh;
  padding: 1vh 0;
}
img {
  width: 100px;
  margin: 0 auto;
}
#main,
#mainSearch {
  height: 71vh;
  padding: 1vh;
  position: relative;
  top: 23vh;
  overflow-y: scroll;
}
h3 {
  text-decoration: underline;
}
ul {
  margin-bottom: 10px;
  list-style-type: none;
}

#searchForm {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  justify-content: center;
  margin-bottom: 20px;
}
